PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/dharshinee_portfolio
CLIENT_URL=http://localhost:5173
NODE_ENV=development
ADMIN_SECRET=portfolio-admin-secret-2026
JWT_SECRET=dharshinee-portfolio-jwt-super-secret-key-2026
